#logo{
    float: left;
    display: block;
    height: 100%;
    padding:16px;
}

#logo:hover, #description:hover, #help:hover{
    background-color:rgba(77, 73, 73, 0.747); 
}

#description{
    float: left;
    display: block;
    height: 100%;
    padding:20px;
}

#help{
    display:block;
    height:100%;
    float: right;
    width: 20%;
    padding:16px;
  }